{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input id="username" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <fieldset>
            <legend class="form-label">Set Password</legend>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" class="form-control" name="password" placeholder="Password" type="password" required>
            </div>
            <div class="mb-3">
                <label for="confirmation" class="form-label">Confirm Password</label>
                <input id="confirmation" class="form-control" name="confirmation" placeholder="Confirm Password" type="password" required>
            </div>
        </fieldset>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}

<!-- {% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %} -->
