{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
<h1>Add Cash</h1>
<form action="/add_cash" method="post">
    <div class="mb-3">
        <label for="new_cash" class="form-label">Amount to Add</label>
        <input
            id="new_cash"
            autocomplete="off"
            autofocus
            class="form-control mx-auto w-auto"
            name="new_cash"
            placeholder="Enter amount"
            type="number"
            min="1"
            required
        >
    </div>
    <button class="btn btn-primary" type="submit">Add Cash</button>
</form>
{% endblock %}

<!--<h1>Add Cash</h1>
    <form action="/add_cash" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="new_cash" placeholder="Add some Cash" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>-->