{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Get a Stock Quote</h1>
    <form action="/quote" method="post">
        <div class="mb-3">
            <label for="symbol" class="form-label">Stock Symbol</label>
            <input id="symbol" name="symbol" type="text" class="form-control" autocomplete="off" autofocus placeholder="Enter stock symbol" required>
        </div>
        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>
{% endblock %}
